{% extends "base.html" %}

{% block title %}{{title}}{% endblock title%}

{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Jasmin connections</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            {% for item in connections %}
                <div class="col-lg-12">
                    <div class="panel panel panel-default">
                        <div class="panel-heading">
                            <strong>{{item['name']}}</strong>
                            <div class="input-group pull-right"> 
                                <a class="btn btn-success btn-xs">
                                        <i class="fa fa-edit fa-fw"></i>
                                </a>
                                <a class="btn btn-danger btn-xs">
                                        <i class="fa fa-remove fa-fw"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <table class="table">
                            <tr>
                                <td>Total messages sent:</td>
                                <td>16543</td>
                            </tr>
                            <tr>
                                <td>Total messages received:</td>
                                <td>464646</td>
                            </tr>
                            <tr>
                                <td>Average response time:</td>
                                <td>25 seconds</td>
                            </tr>
                            <tr>
                                <td>Estimated throughput:</td>
                                <td>250 msgs / second</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
            {% endfor %}
            </div>
            <!-- /.row -->
        </div>
{% endblock %}