{% extends "base.html" %}

{% block title %}{{title}}{% endblock title%}

{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Functional testing</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                            <br>
                            <div class="input-group"> 
                                <select id="btn-input" type="text" class="form-control input-sm">
                                    <option value="" selected disabled>Select one of the scripts from the library</option>
                                    <option value="1">weather service test</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm" id="btn-chat">
                                        <i class="fa fa-play fa-fw"></i> Start script
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <h2><i class="fa fa-level-down fa-fw"></i></h2>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <h2><i class="fa fa-level-up fa-fw"></i></h2>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <h2><i class="fa fa-level-down fa-fw"></i></h2>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <h2><i class="fa fa-level-up fa-fw"></i></h2>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div>
                        <button type="button" class="btn btn-danger"><i class="fa fa-clock-o fa-fw"></i> Record session</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-save fa-fw"></i> Save to library</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-download fa-fw"></i> Save to JIRA</button>
                    </div>
                    <br>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Session information</strong>
                        </div>
                        <table class="table">
                            <tr>
                                <td>Phone Number:</td>
                                <td>13123123</td>
                            </tr>
                            <tr>
                                <td>Operator:</td>
                                <td>adasdasd</td>
                            </tr>
                            <tr>
                                <td>Connected to:</td>
                                <td>jasmin.staging.onem</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Session stats</strong>
                        </div>
                        <table class="table">
                            <tr>
                                <td>Total messages sent:</td>
                                <td>16543</td>
                            </tr>
                            <tr>
                                <td>Total messages received:</td>
                                <td>464646</td>
                            </tr>
                            <tr>
                                <td>Average return time:</td>
                                <td>22 seconds</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
{% endblock %}